*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header nav{
    background-color: black;
    width: 100%;
    
}
header nav a{
    text-decoration: none;
}
header nav a button.prof{
    margin-left: 3%;
}
header nav a button{
    background-color: transparent;
    border: none;
    font-family: 'Zilla Slab', serif;
    font-size: 142%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    cursor: pointer;
}
header nav a button:active{
    background-color: transparent;
}
header nav a button:target{
    background-color: transparent;
}
header nav img{
    height: 38px;
    margin-left: 40%;
}
div.contact p{
    margin-left: 41%;
    margin-top: 3%;
    margin-bottom: 6%;
    font-family: 'Zilla Slab', serif;
    font-size: 282%;
    color: black;
}
span.head{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}
span.head span.cont{
    display: flex;
    align-items: center;
    margin-right: 10%;
    margin-top: 3%;
}
span.head span.cont img.den{
    width: 60%;
    height: 60%;
    margin-left: 10%;
    margin-right: 7%;
    margin-top: -3%;
}
span.head span.cont p.cont_txt{
    font-family: 'Zilla Slab', serif;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 30px;
    text-align: justify;
    margin-top: 3%;
}
form div{
    width: 40%;
    margin-left: 4%;
}
form button{
    margin-left: 4%;
    margin-bottom: 2%;
    background-color: #666666;
    color: white;
}
form button:hover{
    color: black;
    background-color: #AAAAAA;
}
form{
    margin-bottom: 2%;
}
label.text{
    font-family: 'Roboto', sans-serif;
}
form div input{
    margin-bottom: 2%;
    height: 10vh;
}
img.ig{
    width: 5%;
    height: 5%;
    margin-left: 60%;
    margin-top: -30%;
}
img.fb, img.tt{
    width: 5%;
    height: 5%;
    margin-left: 2%;
    margin-top: -30%;
}
img.ig:hover, img.fb:hover, img.tt:hover{
    animation: move .3s;
}
@keyframes move{
    0%{
        transform: scale(1) ;
    }
    25%{
        transform: scale(1.15) ;
    }
    50%{
        transform: scale(1.3) ;
    }
    75%{
        transform: scale(1.15) ;
    }
    100%{
        transform: scale(1) ;
    }
}
